---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
---

<Layout title="Welcome to Astro.">
	<Header/>
	<main>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		width: 93%;
		max-width: 1200px;
		color: white;
		font-size: 20px;
		background-color: red;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
</style>
