---
import Button from "./Button.astro"
---

<div class="header-wrapper">
    <header>
        <div class="logo-wrapper">
            <div class="logo">
                <p>SL</p>
            </div>
        </div>
        <div class="nav-wrapper">

        </div>
        <div class="button-wrapper">
            <Button text="Contact Us" href="#" width="200px"/>
        </div>
    </header>
</div>
<style>
    .header-wrapper {
        position: fixed;
        top: 0;
        left: 50%;
        width: 100%;
        max-width: 1200px;
        margin: auto;
        padding: 2rem 0;
        transform: translateX(-50%);
    }
    header {
        position: relative;
        display: flex;
        justify-content: space-between;
        z-index: 100;
    }
    .logo-wrapper {
        width: 20%;

    }
    .logo {
        width: auto;
        padding: 0 3rem;
    }
    .logo p {
        font-size: 50px;
        font-weight: 800;
    }
    .nav-wrapper {
        width: 80%;
    }
    .button-wrapper {
        width: 20%;
        padding: 0 3rem;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
</style>