---
import Button from "./Button.astro"
import Image from "astro/components/Image.astro"
import Logo from "../assets/success-lab-logo.png"
---

<div class="header-wrapper">
    <header>
        <div class="logo-wrapper">
            <div class="logo">
                <Image src={Logo} alt="Logo">
            </div>
        </div>
        <div class="nav-wrapper">

        </div>
        <div class="button-wrapper">
            <Button text="Contact Us" href="#" width="200px"/>
        </div>
    </header>
</div>
<style>
    .header-wrapper {
        position: fixed;
        top: 0;
        left: 50%;
        width: 100%;
        margin: auto;
        padding: 1rem 0;
        transform: translateX(-50%);
        background: white;
        z-index: 100;
    }
    header {
        position: relative;
        display: flex;
        justify-content: space-between;
        max-width: 1350px;
        width: 93%;
        margin: auto;
        z-index: 100;
    }
    .logo-wrapper {
        width: 20%;

    }
    .logo {
        width: 100%;
    }
    .logo img {
        width: auto;
        height: 75px;
    }
    .nav-wrapper {
        width: 80%;
    }
    .button-wrapper {
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    @media screen and (max-width: 900px) {
        .button-wrapper {
            width: 50%;
        }
    }
</style>