---
import Button from "./Button.astro"
---

<div class="header-wrapper">
    <div class="header">
        <div class="logo-wrapper">
            <div class="logo">
                <p>SL</p>
            </div>
        </div>
        <div class="nav-wrapper">

        </div>
        <div class="button-wrapper">
            <Button></Button>
        </div>
    </div>
</div>
<style>
    .header-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 2rem 0;
    }
    .header {
        display: flex;
        justify-content: space-between;
    }
    .logo-wrapper {
        width: 20%;

    }
    .logo {
        width: auto;
        padding: 0 3rem;
    }
    .logo p {
        font-size: 50px;
        font-weight: 800;
    }
    .nav-wrapper {
        width: 80%;
    }
    .button-wrapper {
        width: 20%;
        padding: 0 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>