---
import Image from 'astro/components/Image.astro'
import ServiceIcon from '../assets/service-icon.png'
---

<div class="service-cards">
    <div class="service-card out">
        <Image src={ServiceIcon} alt='service icon'/>
        <h3 class="service-title">Service 1</h3>
        <p class="service-text show">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <div class="number">
            <p>01</p>
        </div>
    </div>
    <div class="service-card">
        <Image src={ServiceIcon} alt='service icon'/>
        <h3 class="service-title">Service 2</h3>
        <p class="service-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <div class="number">
            <p>02</p>
        </div>
    </div>
    <div class="service-card">
        <Image src={ServiceIcon} alt='service icon'/>
        <h3 class="service-title">Service 3</h3>
        <p class="service-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <div class="number">
            <p>03</p>
        </div>
    </div>
</div>
<style>
    .service-cards {
        width: 100%;
        display: flex;
        gap: 1.5rem;
    }
    .service-card {
        width: 33.3333%;
        height: inherit;
        position: relative;
        border-radius: 1.5rem;
        border: 1px solid #ccc;
        padding: 4rem 4rem 10rem 4rem;
        transition: ease .3s;
    }
    .service-card > img {
        width: 75px;
        height: 75px;
        object-fit: contain;
    }
    .service-title {
        font-size: 3rem;
        margin-top: 4rem;
    }
    .service-text {
        font-size: 1.6rem;
        margin-top: 2rem;
        visibility: hidden;
        opacity: 0;
        transform: translateY(2rem);
    }
    .number {
        position: absolute;
        right: 4rem;
        bottom: 5rem;
    }
    .number > p {
        font-size: 4.5rem;
        font-weight: 700;
        color: var(--light-accent);
    }
    .out {
        width: 50%;
    }
    .show {
        visibility: visible;
        animation: show-text .7s forwards;
    }
    @keyframes show-text {
        40% {
            opacity: 0;
            transform: translateY(2rem);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
</style>
<script>
    const cards = document.querySelectorAll(".service-card");

    cards.forEach((item) => {

        item.addEventListener("mouseenter", () => {
            cards.forEach((otherCard) => {
                if (otherCard !== item && otherCard.classList.contains("out")) {
                    otherCard.classList.remove("out");
                    const text = otherCard.querySelector(".service-text");
                    if (text) text.classList.remove('show');
                }
            });

            item.classList.add("out");
            const text = item.querySelector(".service-text")
            if (text) text.classList.add('show');
        })
    })
</script>